
/*Variables*/
:root {
    --box-sizing: 350px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.Form-Login {
    width:250px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.Login-Father {
    width: var(--box-sizing);
    height: var(--box-sizing);
    background-color: #39A7FF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    
}




.Form-Login,
h1 {
    margin-top: 2.4rem;
    color: white;
}

input:focus{
    outline: none;
}

input{
    border: 0;
    padding: .3rem;
    border-radius: 4px;
width: 100%;}

input[type="text"],
input[type="password"] {
    margin-bottom: 10px;
}

label {
    font-size: 1.05rem;
    position: relative;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    width: 100%;
    padding: .3rem;
    cursor: pointer;
}

button.login {
    background-color: white;
    color: #39A7FF;
    border-radius: 5px;
}

.name {
    position:relative;
}

.user, .password {
    position:absolute;
    left: -28px;
}

.password {
    left: -27px;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: -9rem;
    
}